<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQDUwWA7Ul2JYIyG_-472r2-v5FgdYNZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>283403304701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zippdelivery.mobileadmin</string>
	<key>PROJECT_ID</key>
	<string>delivery-gjilan</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-gjilan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:283403304701:ios:c680df082727cae7ca0894</string>
</dict>
</plist>
