.expo
.vscode
assets
node_modules
.gitignore
.prettierc
app.json
babel.config.js
eslint.config.js
expo-env.d.ts
globals.css
metro.config.js
nativewind-env.d.ts
package-lock.json
package.json
README.md
tailwind.config.js
tsconfig.json
*.json
*.md
*.js